<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/assets/css/foundation.min.css">
</head>
<body>

    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">Territory</li>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </div>

    @RenderBody()

    <script src="~/assets/js/_layout-bundle.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
