@model Jasper.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="row">
    <h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "forgotPasswordFormValidate", name = "forgotPasswordFormValidate", @class = "form-validate", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Enter your email.</h4>
        <hr />
        @Html.ValidationSummary("", new { })
        <div class="row">
            <div class="small-2 columns">
                @Html.LabelFor(m => m.Email, new { @class = "text-right middle" })
            </div>
            <div class="medium-10 columns">
                @Html.TextBoxFor(m => m.Email, new { })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "is-invalid-label form-error is-visible" })
            </div>
        </div>
        <div class="row">
            <div class="medium-offset-2 medium-10 columns">
                <input type="submit" class="button" value="Email Link" />
            </div>
        </div>
    }

</div>

@section scripts {
    @Html.JSMinify("~/assets/js/account-forgotpassword-bundle")
}