@model Jasper.Models.AddPhoneNumberViewModel
@{
    ViewBag.Title = "Phone Number";
}

<div class="row">
    <h2>@ViewBag.Title.</h2>
    @using (Html.BeginForm("AddPhoneNumber", "Manage", FormMethod.Post, new { @class = "form-validate", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Add a phone number</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            <div class="medium-2 columns">
                @Html.LabelFor(m => m.Number, new { @class = "text-right middle" })
            </div>
            <div class="medium-10 columns">
                @Html.TextBoxFor(m => m.Number, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="medium-offset-2 medium-10 columns">
                <input type="submit" class="button" value="Submit" />
            </div>
        </div>
    }
</div>

@section scripts {
    @Html.JSMinify("~/assets/js/manage-addphonenumber-bundle")
}