@model Jasper.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="row">
    <h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-validate", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Change Password Form</h4>
            <hr />
            @Html.ValidationSummary("", new { })
            <div class="row">
                <div class="medium-2 columns">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "text-right middle" })
                </div>
                <div class="medium-10 columns">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="medium-2 columns">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "text-right middle" })
                </div>
                <div class="medium-10 columns">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="medium-2 columns">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "text-right middle" })
                </div>
                <div class="medium-10 columns">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="medium-offset-2 medium-10 columns">
                    <input type="submit" value="Change password" class="button" />
                </div>
            </div>
    }
</div>

@section scripts {
    @Html.JSMinify("~/assets/js/manage-changepassword-bundle")
}