@model Jasper.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Create Password";
}

<div class="row">

    <h2>@ViewBag.Title.</h2>

    <p class="text-info">
        You do not have a local username/password for this site. Add a local
        account so you can log in without an external login.
    </p>

    @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-validate", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <h4>Create Local Login</h4>
        <hr />
            @Html.ValidationSummary("", new { })
            <div class="row">
                <div class="medium-2 columns">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "text-right middle" })
                </div>
                <div class="medium-10 columns">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="medium-2 columns">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "text-right middle" })
                </div>
                <div class="medium-10 columns">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="medium-offset-2 medium-10 columns">
                    <input type="submit" value="Set password" class="button" />
                </div>
            </div>
    }
</div>

@section scripts {
    @Html.JSMinify("~/assets/js/manage-setpassword-bundle")
}