@model Jasper.Models.VerifyPhoneNumberViewModel

@{
    ViewBag.Title = "Verify Phone Number";
}

<div class="row">
        <h2>@ViewBag.Title.</h2>

        @using (Html.BeginForm("VerifyPhoneNumber", "Manage", FormMethod.Post, new { @class = "form-validate", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("phoneNumber", @Model.PhoneNumber)
            <h4>Enter verification code</h4>
            <h5>@ViewBag.Status</h5>
            <hr />
            @Html.ValidationSummary("", new { })
            <div class="row">
                <div class="medium-2 columns">
                    @Html.LabelFor(m => m.Code, new { @class = "text-right middle" })
                </div>
                <div class="medium-10 columns">
                    @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="medium-offset-2 medium-10 columns">
                    <input type="submit" class="button" value="Submit" />
                </div>
            </div>
        }

</div>

@section scripts {
    @Html.JSMinify("~/assets/js/manage-verifyphonenumber-bundle")
}